/* You can add global styles to this file, and also import other style files */

html {
  font-size: 10px;
}

html,
body {
  height: 100vh;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  font-size: 1.6rem;
}

div,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
