.category {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  height: 100%;

  border-radius: 5px;
  background-color: #fffffffc;
  box-shadow: 2px 4px 2px rgba(109, 109, 109, 0.1);

  &__header {
    display: flex;
    align-items: flex-end;
    gap: 10px;
    padding: 15px 20px;

    background-color: #cccccc90;
  }

  &__description {
    display: flex;
    flex-direction: column;
  }

  &__label {
    font-size: 1.2rem;
  }

  &__amount {
    font-weight: 600;
    font-size: 1.4rem;
  }

  &__compare {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  &__compare-value {
    font-size: 1.3rem;
    font-weight: 500;
  }

  &__compare-label {
    font-size: 1rem;
  }

  &__transactions {
    display: flex;
    overflow: auto;

    width: 100%;

    &--hidden {
      overflow: hidden;
    }
  }

  .arrow {
    &-up {
      &::after {
        content: '▲';
        color: #c53351;
      }
    }

    &-down {
      &::after {
        content: '▼';
        color: #299d91;
      }
    }
  }
}

.list {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  margin: 0;
  width: 100%;

  &-item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 8px 0;

    border-bottom: 1px solid rgba(128, 128, 128, 0.1);
  }

  &-item__description {
    width: 50%;
    font-size: 1.2rem;
  }

  &-item__right-side {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 50%;
  }

  &-item__price {
    font-size: 1.4rem;
    font-weight: 500;
  }

  &-item__date {
    font-size: 1rem;
    font-weight: 300;
  }
}
