<header
  class="header"
  [ngClass]="{
    'header--tablet': isTablet$ | async,
    'header--mobile': isMobile$ | async
  }"
>
  <div class="date">
    <time> {{ currDate | date }}</time>
  </div>

  <div class="finance" *ngIf="user?.budgetId">
    <ng-container *ngIf="demoMode$ | async">
      <button
        mat-icon-button
        color="ptimary"
        (click)="openRemoveBudgetDialog()"
      >
        <mat-icon svgIcon="notification"></mat-icon>
      </button>
    </ng-container>

    <button
      mat-icon-button
      class="finance__button"
      color="primary"
      (click)="openIncomeDialog()"
    >
      <mat-icon svgIcon="trend-up"></mat-icon>
    </button>
    <button
      mat-icon-button
      class="finance__button"
      color="accent"
      (click)="openExpenseDialog()"
    >
      <mat-icon svgIcon="trend-down"></mat-icon>
    </button>
  </div>
</header>
