# app
PORT=4000
CONTAINER_PORT=4000
CLIENT_URL=http://localhost:4200

# auth
CRYPT_SALT=10
JWT_SECRET_KEY=secret-1
JWT_SECRET_REFRESH_KEY=secret-2
TOKEN_EXPIRE_TIME=15m
TOKEN_REFRESH_EXPIRE_TIME=1h

# postgres
DB_HOST_PORT=5432
DB_CONTAINER_PORT=5432
DB_HOST=postgres_db
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=db

DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${DB_HOST}:${DB_CONTAINER_PORT}/${POSTGRES_DB}?schema=public

# google OAuth 2.0 Client
# https://console.cloud.google.com/apis/credentials
# Create OAuth client ID => Web application
CLIENT_ID=<client_id>
CLIENT_SECRET=<client_secret>
REDIRECT_URL=http://localhost:4000/auth/google/callback
SCOPE=profile,email
REDIRECT_CLIENT_URL=http://localhost:4200