.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  min-height: 100%;

  background: #f4f5f7;
}

.disabled {
  filter: blur(1px);

  pointer-events: none;
}

.signup {
  &-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;

    width: 100%;
    max-width: 400px;
    padding: 40px 15px;
  }

  &-title {
    font-weight: 500;
    font-size: 3.2rem;

    color: #299d91;
  }

  &-subtitle {
    margin: -15px 0;

    font-weight: 500;
    font-size: 2rem;

    color: #49494d;
  }

  &-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    width: 100%;

    &__field {
      width: 100%;
      min-height: auto;
      display: flex;
    }

    &__remember-checkbox {
      align-self: flex-start;

      margin-bottom: -10px;
    }

    &__submit-button {
      width: 100%;
      height: 48px;
    }

    .password-hidden {
      position: absolute;
      top: 15px;
      right: 5px;
      display: flex;
      align-items: center;
      justify-content: center;

      mat-icon {
        font-size: 2rem;
        width: 2rem;
        height: 2rem;

        color: rgba(82, 82, 86, 0.8);
      }

      cursor: pointer;
    }
  }
}

.divider {
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;

  color: rgba(82, 82, 86, 0.6);

  &::before,
  &::after {
    content: '';
    flex: 1;
    margin: 0 1rem;
    border-bottom: 1px solid rgba(82, 82, 86, 0.15);
  }
}

.google-auth {
  width: 100%;

  &__button {
    width: 100%;
    height: 48px;

    color: #525256;
    background-color: #e8e8e8;
  }
}

.link {
  font-weight: 500;

  color: #299d91;
  text-decoration: none;

  cursor: pointer;

  &-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;

    width: 100%;

    color: #8c8c91;

    &--terms {
      justify-content: flex-start;
      gap: 5px;

      margin-bottom: -5px;
    }
  }
}

.terms {
  &__error {
    font-size: 1.2rem;

    transition: all 1s;
  }
}

.mat {
  &-label {
    font-weight: 500;
    font-size: 2rem;
  }

  &-icon {
    transform: scale(1.5);
  }
}
