<div class="wrapper">
  <div
    class="password-recovery-wrapper"
    [ngClass]="{ disabled: pendingResponceSubject | async }"
  >
    <h2 class="password-recovery-title"><b>SMART</b>family.io</h2>
    <div class="password-recovery-content">
      <h3 class="password-recovery-subtitle">Forgot Password ?</h3>
      <p class="password-recovery-description">
        Enter you email address to get the password reset link.
      </p>
    </div>
    <form class="password-recovery-form" [formGroup]="passwordResetForm">
      <mat-form-field
        class="password-recovery-form__field"
        appearance="outline"
        floatLabel="always"
        hideRequiredMarker
      >
        <mat-label class="mat-label">Email</mat-label>
        <input
          matInput
          type="email"
          placeholder="example@example.com"
          formControlName="email"
        />
        <mat-error>{{ getErrorMessage('email') }}</mat-error>
      </mat-form-field>

      <button
        mat-flat-button
        class="password-recovery-form__submit-button"
        color="primary"
        (click)="submitForm()"
        [disabled]="
          (attempedSubmit && passwordResetForm.invalid) ||
          (pendingResponceSubject | async)
        "
      >
        Password reset
      </button>
    </form>

    <a class="link link--redirect" routerLink="/signin">Back to login</a>
  </div>
</div>
