.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;

  color: #616165;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 25px;

  width: 100%;
  max-width: 350px;

  background-color: inherit;

  &__field {
    width: 100%;
  }

  &__submit-button {
    margin-top: 40px;
    width: 100%;
    height: 42px;
  }
}
