<ng-container *ngIf="userId$ | async as userId">
  <div class="container">
    <form [formGroup]="form" class="form">
      <mat-form-field
        class="form__field"
        floatLabel="always"
        appearance="outline"
        hideRequiredMarker
      >
        <mat-label class="mat-label">Old Password</mat-label>
        <input
          matInput
          [type]="visibilityState.oldPassword ? 'text' : 'password'"
          placeholder="Old Password"
          formControlName="oldPassword"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="changeVisibility('oldPassword')"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="visibilityState.oldPassword"
        >
          <mat-icon>{{
            visibilityState.oldPassword ? 'visibility' : 'visibility_off'
          }}</mat-icon>
        </button>
        <mat-error>{{ getErrorMessage('oldPassword') }}</mat-error>
      </mat-form-field>

      <mat-form-field
        class="form__field"
        floatLabel="always"
        appearance="outline"
        hideRequiredMarker
      >
        <mat-label class="mat-label">New Password</mat-label>
        <input
          matInput
          [type]="visibilityState.newPassword ? 'text' : 'password'"
          placeholder="New Password"
          formControlName="newPassword"
        /><button
          mat-icon-button
          matSuffix
          (click)="changeVisibility('newPassword')"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="visibilityState.newPassword"
        >
          <mat-icon>{{
            visibilityState.newPassword ? 'visibility' : 'visibility_off'
          }}</mat-icon></button
        ><mat-error>{{ getErrorMessage('newPassword') }}</mat-error>
      </mat-form-field>
      <mat-form-field
        class="form__field"
        floatLabel="always"
        appearance="outline"
        hideRequiredMarker
      >
        <mat-label class="mat-label">Confirm Password</mat-label>
        <input
          matInput
          [type]="visibilityState.confirmPassword ? 'text' : 'password'"
          placeholder="Confirm password"
          formControlName="confirmPassword"
        /><button
          mat-icon-button
          matSuffix
          (click)="changeVisibility('confirmPassword')"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="visibilityState.confirmPassword"
        >
          <mat-icon>{{
            visibilityState.confirmPassword ? 'visibility' : 'visibility_off'
          }}</mat-icon></button
        ><mat-error>{{ getErrorMessage('confirmPassword') }}</mat-error>
      </mat-form-field>

      <button
        class="form__submit-button"
        mat-flat-button
        color="primary"
        [disabled]="form.invalid && sumbitted"
        (click)="submit(userId)"
      >
        Change password
      </button>
    </form>
  </div>
</ng-container>
