<h2 mat-dialog-title>
  Terms of Service for
  <span class="colored"><b>SMART</b>family.io</span>
</h2>
<mat-dialog-content class="mat-typography">
  <h3>Goals and Functions of the Service</h3>
  <p>
    <span class="colored"><b>SMART</b>family.io</span> service is designed to
    assist families in managing and controlling their finances. The main
    functions of the service include:
  </p>
  <ul>
    <li>Tracking family incomes and expenses.</li>
    <li>Budgeting and financial goal planning.</li>
    <li>
      Analysis of financial flows and provision of recommendations for improving
      financial well-being.
    </li>
  </ul>

  <h3>Terms of Use</h3>
  <p>
    By using the <span class="colored"><b>SMART</b>family.io</span> service, you
    agree to the following terms:
  </p>
  <ul>
    <li>
      You agree to provide accurate and truthful information about your
      finances.
    </li>
    <li>You are responsible for the security of your account and password.</li>
    <li>
      All information provided to or collected by
      <span class="colored"><b>SMART</b>family.io</span> shall be governed by
      our Privacy Policy.
    </li>
    <li>
      You agree not to use the service for any illegal or unauthorized purpose.
    </li>
    <li>
      <span class="colored"><b>SMART</b>family.io</span> reserves the right to
      suspend or terminate your access to the service at any time for any
      reason.
    </li>
  </ul>

  <h3>Modification of Terms</h3>
  <p>
    <span class="colored"><b>SMART</b>family.io</span> reserves the right to
    modify these terms of service at any time without prior notice. By
    continuing to use the service after any such changes, you agree to be bound
    by the modified terms of service.
  </p>

  <p>
    If you have any questions about these terms, please contact us at:
    <a href="mailto:support@smartfamily.io" class="colored">
      <b>support@smartfamily.io</b>
    </a>
  </p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close color="warn">Decline</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial color="primary">
    Accept
  </button>
</mat-dialog-actions>
