.container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 20px 20px 30px;

  width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
  padding: 15px 30px 20px;

  width: 100%;

  border-radius: 2px;
  background-color: rgb(255, 255, 255);
}

.tabs {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  box-sizing: border-box;
  padding: 0 0 10px;

  border-bottom: 1px solid rgba(166, 166, 166, 0.15);
}

.tab {
  display: flex;

  width: 100%;
}

.tab-wrapper {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  width: 100%;
}

.button {
  border-radius: 0%;
  width: 80px;
  height: 35px;

  &--active {
    border-bottom: 3px solid #299d91;
  }
}
